


.object-contain{
padding-left: 20px;
}



.bgSlider{
  /* background-image: url('/IRImages/dashboard.jpeg'); */
  /* height: 100%;
  width: 100%; */
}

@media screen and (min-width: 768px) {
  .bgSlider img {
    height: 100%;
    width: 720px !important;
  }
}

@media screen and (max-width: 768px) {
    .bgSlider img{
        height: 100%;
        width: 100% !important;
    }
}